<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class='home-block'>
      <img class='logo' src='/images/resistanceweb.png'/>
      <form class='user-input' action="/room" method="post">
        <div>
          <h3>Digite seu nome para criar uma sala</h3>
          <label for="name">Nome:&nbsp;&nbsp;&nbsp;</label>
          <input type="text" placeholder="Seu nome" name="username" />
          <button type="submit">Criar sala</button>
      </form>
    <footer>
      <p>Criado por <strong class="green">Matheus Pereira</strong> e <strong class="green">Vitor Vanacor</strong></p>
    </footer>
  </body>
</html>
