@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #566b78;
}

.home-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 0 20%;
}

.logo {
  margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 70vw;
  }

  .home-block {
    padding: 0 5%;
  }
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .rules {
    font-size: 12px;
  }
}

.input {
  margin-bottom: 5px;
}

header {
  padding: 3vw 2em;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  color: #333;
  margin-bottom: 0;
}

strong {
  font-weight: 500;
  color: #333;
}

a {
  color: #339933;
}

.green {
  color: #339933;
}

.error-text {
  color: red;
}

footer {
  margin-top: 10vh;
  text-align: center;
}
